@use "sass:color";
@use "sass:map";
@use '../../global/wolfie' as *;

/* Button hover effect and click effects & animations 
are called from the animations.scss mixins*/

.wbutton {
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  padding: $button-padding;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: map.get($button-sizes, medium);
  text-align: center;
  display: inline-flex; // center (icons)
  align-items: center;
  //background-color: $primary-color;
  //color: $text-color-light;
  @include hover-darken($primary-color);
  @include hover-lighten($primary-color);

  @include click-ripple-light;
  @include click-ripple-dark;
  
  i {
    &.left {
      margin-left: -0.25rem;
      margin-right: 0.5rem;
    }
    &.right {
      margin-left: 0.5rem;
      margin-right: -0.25rem;
    }
    &.center {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  /* ------ WButton Styles ------*/
  /* Button Shapes */
  &.rounded {
    border-radius: $button-radius;
  }

  &.pill {
    border-radius: 2rem;
  }

  &.circle {
    display: inline-flex;
    padding: 0.75rem;
    //overflow: visible;
    border-radius: 50%;

    & i {
      // left
      margin: 0;
    }
  }

  &.square {
    padding: 0.75rem;
    display: inline-flex;

    & i {
      // left
      margin: 0;
    }
  }

  /* Regular Wbutton Style */
  @mixin wbutton-color($color, $text-color) {
    background-color: $color;
    color: $text-color;
    @include hover-darken($color);
    @include hover-lighten($color);
  }
  /* Button Colors */
  &.primary {
    @include wbutton-color($primary-color, $button-text-color);
  }
  &.accent {
    @include wbutton-color($accent-color, $button-text-color);
  }
  &.success {
    @include wbutton-color($success-color, $button-text-color);
  }
  &.danger {
    @include wbutton-color($danger-color, $button-text-color);
  }
  &.warning {
    @include wbutton-color($warning-color, $button-text-color);
  }
  &.disabled {
    background-color: $disabled-background-color;
    color: $disabled-color;
  }
  &.colored {
    @include wbutton-color($button-background-color, $button-text-color);
  }

  /* Button Types */
  &.ghost {
    background-color: transparent;
    //color: $primary-color;
    //border-color: $primary-color;
    border-style: solid;
    border-width: 1px;
    @include hover-fill($primary-color, $background-color);
    @include hover-transparent-darken($transparent-value-dark);
    @include hover-transparent-lighten($transparent-value-light);
    @include hover-transparent-colored($primary-color);
    //@include hover-ghost-darken($primary-color);

    @mixin ghost-color($color) {
      background-color: transparent;
      color: $color;
      border-color: $color;
      @include hover-fill($color, $background-color);
      @include hover-transparent-darken($transparent-value-dark);
      @include hover-transparent-lighten($transparent-value-light);
      @include hover-transparent-colored($color);
      //@include hover-ghost-darken($color);
    }
    /* Button Colors */
    &.primary {
      @include ghost-color($primary-color);
    }
    &.accent {
      @include ghost-color($accent-color);
    }
    &.colored {
      @include ghost-color($button-background-color);
    }
    &.success {
      @include ghost-color($success-color);
    }
    &.danger {
      @include ghost-color($danger-color);
    }
    &.warning {
      @include ghost-color($warning-color);
    }
    &.disabled {
      background-color: transparent !important;
    }
  }

  &.texted {
    background-color: transparent;
    //color: $primary-color;
    border-style: none;
    @include hover-text-darken($primary-color, $transparent-value-light / 3);
    @include hover-text-lighten($primary-color, $transparent-value-dark / 3);
    //@include hover-text-color($primary-color);

    @mixin texted-color($color) {
      //background-color: transparent;
      color: $color;
      @include hover-text-darken($color, $transparent-value-light / 3);
      @include hover-text-lighten($color, $transparent-value-dark / 3);
      //@include hover-text-color($color);
    }
    /* Button Colors */
    &.primary {
      @include texted-color($primary-color);
    }
    &.accent {
      @include texted-color($accent-color);
    }
    &.colored {
      @include texted-color($button-background-color);
    }
    &.success {
      @include texted-color($success-color);
    }
    &.danger {
      @include texted-color($danger-color);
    }
    &.warning {
      @include texted-color($warning-color);
    }
    &.disabled {
      background-color: transparent !important;
      border-color: none !important;
    }
  }

  &.transparent {
    background-color: color.scale(black, $alpha: $transparent-value-dark);
    color: white;

    &.hover-darken:hover {
      background-color: color.scale(black, $alpha: -60%);
    }
    &.hover-lighten:hover {
      background-color: color.scale(white, $alpha: -80%);
    }

    &.disabled {
      background-color: $disabled-background-color;
      color: $disabled-color;
    }
  }

  &.raised {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  /* Button Sizes */
  &.small {
    font-size: map.get($button-sizes, small);
  }

  &.medium {
    font-size: map.get($button-sizes, medium);
  }

  &.large {
    font-size: map.get($button-sizes, large);
  }

  &.span {
    width: 100%;
    justify-content: center;
  }
}
