:root {
  --primary: rgb(106, 106, 219);
  --primary-tint: rgba(106, 106, 219, 0.8);
  --accent: purple;
  --accent-tint: rgba(128, 0, 128, 0.8);
  --white: white;
  --tint: rgba(211, 211, 211, 0.8);
}

.wbtn {
  /* font-family: */
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* btn hover */
/*
.wbtn:hover {
  background-color: var(--tint);
}
.wbtn--primary:hover {
  background-color: var(--primary-tint);
}
.wbtn--accent:hover {
  background-color: var(--accent-tint);
}
*/

/* btn active(on click) */
/*
.wbtn:active {
  box-shadow: inset 0px 0px 0px 3px var(--tint);
}
.primary:active {
  box-shadow: inset 0px 0px 0px 3px var(--primary-tint);
}
.accent:active {
  box-shadow: inset 0px 0px 0px 3px var(--accent-tint);
}
*/

/* disabled button */
/*
.wbtn:disabled {
  background-color: var(--tint);
  color: grey;
  cursor: default;
  box-shadow: none;
}
*/

/* ------ Button Styles ------*/
/* Button Shapes */
.rounded {
  border-radius: 4px;
}

.pill {
  border-radius: 30px;
}

/* Button Coloring */
.primary {
  background-color: var(--primary);
  color: var(--white);
}

.accent {
  background-color: var(--accent);
  color: var(--white);
}

/*
.fill {
  background-color: var(--primary);
  color: var(--white);
}
*/

.unfill {
  background-color: transparent;
  color: var(--primary);
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--primary);
}

.transparent {
  background-color: transparent;
}

.shadow {
  box-shadow: 4px 4px 4px lightgray;
}

.span {
  width: 100%;
}

/* icon in button */
/* icon size */
/* icon color */
/* icon: left, right, middle */
/* text: left, right, middle */

/* Button Sizes */
.small {
  height: 40px;
}

.medium {
  height: 60px;
}

.large {
  height: 80px;
}
