@import '../../variables';

$button-font-family: inherit;
$button-font-weight: null;

$button-padding: 0.6em 1.2em;
$button-margin: 0px 0px 5px 0px; 
$success-color: #4caf50 !default;
$danger-color: #d32f2f !default;
$warning-color: #f9a825 !default;

$button-radius: .25rem !default;
$button-sizes: ("small": 0.8rem, "medium": 1rem, "large": 1.1rem) !default;

/* Button hover effect and click effects & animations 
are called from the animations.scss mixins*/

.wbutton {
  background-color: rgb(224, 224, 224);
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  padding: $button-padding;
  margin: $button-margin;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: map-get($button-sizes, medium);
  text-align: center;
  display: inline-flex; // center (icons)
  align-items: center;
  @include hover-darken(rgb(239, 239, 239));
  @include hover-lighten(rgb(239, 239, 239));

  i {
    &.left {
      margin-left: -0.25rem;
      margin-right: 0.5rem;
    }
    &.right {
      margin-left: 0.5rem;
      margin-right: -0.25rem;
    }
  }
}

/* ------ WButton Styles ------*/
/* Button Shapes */
.rounded {
  border-radius: $button-radius;
}

.pill {
  border-radius: 2rem;
}

.circle {
  display: inline-flex;
  padding: 0.75rem;
  //overflow: visible;
  border-radius: 50%;

  & i { // left
    margin: 0;
  }
}

.square {
  padding: 0.75rem;
  display: inline-flex;

  & i { // left
    margin: 0;
  }
}

/* Button Types */
.disabled {
  background-color: $disabled-background-color !important;
  color: $disabled-color !important;
  border-color: $disabled-color !important;
  cursor: default !important;
}

/* Button Coloring */
.success {
  background-color: $success-color;
  color: $button-text-color-light;
  @include hover-darken($success-color);
  @include hover-lighten($success-color);
}

.danger {
  background-color: $danger-color;
  color: $button-text-color-light;
  @include hover-darken($danger-color);
  @include hover-lighten($danger-color);
}

.warning {
  background-color: $warning-color;
  color: $button-text-color-light;
  @include hover-darken($warning-color);
  @include hover-lighten($warning-color);
}

.primary {
  background-color: $primary-color;
  color: $button-text-color-light;
  @include hover-darken($primary-color);
  @include hover-lighten($primary-color);
}

.accent {
  background-color: $accent-color;
  color: $button-text-color-light;
  @include hover-darken($accent-color);
  @include hover-lighten($accent-color);
}

.colored {
  background-color: $button-background-color;
  color: $button-text-color;
  border-color: $button-background-color;
  @include hover-darken($button-background-color);
  @include hover-lighten($button-background-color);
}

.ghost {
  background-color: transparent;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  @include hover-fill($button-background-color,$background-color);
  @include hover-transparent-darken();
  @include hover-transparent-lighten(0.8);
  @include hover-transparent-colored($button-background-color);
  @include hover-ghost-darken(black);

  &.hover-darken:hover {
    background-color: transparentize(black, $transparent-value);
  }
  &.hover-lighten:hover {
    background-color: transparentize(white, 0.8);
  }  

  @mixin ghost-color($color) {
    color: $color;
    border-color: $color;
    @include hover-fill($color, $background-color);
    @include hover-transparent-colored($color);
    @include hover-ghost-darken($color);

    &.hover-darken:hover{
      background-color: transparentize($color, $transparent-value);
    }
    
  }
  
  &.primary {
    @include ghost-color($primary-color);
    @include hover-ghost-darken($primary-color);
  }
  &.accent {
    @include ghost-color($accent-color);
    @include hover-ghost-darken($accent-color);
  }
  &.colored {
    @include ghost-color($button-background-color);
    @include hover-ghost-darken($button-background-color);
  }
  &.success {
    @include ghost-color($success-color);
    @include hover-ghost-darken($success-color);
  }
  &.danger {
    @include ghost-color($danger-color);
    @include hover-ghost-darken($danger-color);
  }
  &.warning {
    @include ghost-color($warning-color);
    @include hover-ghost-darken($warning-color);
  }
  &.disabled {
    background-color: transparent !important;
  }

}

.texted {
  background-color: transparent;
  color: black;
  border-style: none;
  @include hover-transparent-darken();
  @include hover-transparent-lighten(0.8);
  @include hover-transparent-colored($button-background-color);
  
  &.hover-darken:hover {
    background-color: transparentize(black, $transparent-value);
  }

  @mixin texted-color($color) {
    color: $color;
    @include hover-transparent-colored($color);

    &.hover-darken:hover {
      background-color: transparentize($color, $transparent-value);
    }
  }
  
  &.primary {
    @include texted-color($primary-color);
  }
  &.accent {
    @include texted-color($accent-color);
  }
  &.colored {
    @include texted-color($button-background-color);
  }
  &.success {
    @include texted-color($success-color);
  }
  &.danger {
    @include texted-color($danger-color);
  }
  &.warning {
    @include texted-color($warning-color);
  }
  &.disabled {
    background-color: transparent !important;
    border-color: none !important;
  }
}

.transparent {
  background-color: transparentize(black, 0.75);
  color: white;

  &.hover-darken:hover {
    background-color: transparentize(black, 0.6);
  }
  &.hover-lighten:hover {
    background-color: transparentize(white, 0.8);
  }  
}

.raised {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 
              0px 2px 2px 0px rgba(0,0,0,0.14), 
              0px 1px 5px 0px rgba(0,0,0,0.12);
}

/* Button Sizes */
.small {
  font-size: map-get($button-sizes, small);
}

.medium {
  font-size: map-get($button-sizes, medium);
}

.large {
  font-size: map-get($button-sizes, large);
}

.span {
  width: 100%;
}


.ripple-light {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  $ripple-color: radial-gradient(circle, white 10%, transparent 10.01%);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: $ripple-color;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }
}

.ripple-dark {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  $ripple-color: radial-gradient(circle, black 10%, transparent 10.01%);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: $ripple-color;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }
}