@use '../../global/wolfie' as *;

// WRow
.wrow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $col-gutter-size;

  //grid-template-columns: 8.333333%;
  //display: flex;
  //flex: 0 1 auto;
  //flex-direction: row;
  //flex-wrap: wrap;
  width: 100%;
}

//WCol
.wcol {
  //flex: 1 0 0%;
  margin-top: $row-gutter-size/2;
  margin-bottom: $row-gutter-size/2;
}

.wcol-1 {
  //flex: 0 0 auto;
  //width: 8.333333%;
  grid-column: span 1;
}

.wcol-2 {
  //flex: 0 0 auto;
  //width: 16.666667%;
  grid-column: span 2;
}

.wcol-3 {
  //flex: 0 0 auto;
  //width: 25%;
  grid-column: span 3;
}

.wcol-4 {
  //flex: 0 0 auto;
  //width: 33.333333%;
  grid-column: span 4;
}

.wcol-5 {
  //flex: 0 0 auto;
  //width: 41.666667%;
  grid-column: span 5;
}

.wcol-6 {
  //flex: 0 0 auto;
  //width: 50%;
  grid-column: span 6;
}

.wcol-7 {
  //flex: 0 0 auto;
  //width: 58.333333%;
  grid-column: span 7;
}

.wcol-8 {
  //flex: 0 0 auto;
  //width: 66.666667%;
  grid-column: span 8;
}

.wcol-9 {
  //flex: 0 0 auto;
  //width: 75%;
  grid-column: span 9;
}

.wcol-10 {
  //flex: 0 0 auto;
  //width: 83.333333%;
  grid-column: span 10;
}

.wcol-11 {
  //flex: 0 0 auto;
  //width: 91.666667%;
  grid-column: span 11;
}

.wcol-12 {
  //flex: 0 0 auto;
  //width: 100%;
  grid-column: span 12;
}

//TODO offset

//TODO push/pull & ordering
