@use 'sass:color';
@use './colors' as *;
@use './theme' as *;

/* Hover Effects */
@mixin hover-effect($background-color, $text-color: "") {
  background-color: $background-color;
  color: $text-color;
}

@mixin hover-darken($background-color, $d-value: "") {
  &.hover-darken:hover {
    @if $d-value == "" {
      @include hover-effect(color.scale($background-color, $lightness: $darken-value));
    } @else {
      @include hover-effect(color.scale($background-color, $lightness: $d-value));
    }
  }
}

@mixin hover-lighten($background-color, $l-value: "") {
  &.hover-lighten:hover {
    @if $l-value == "" {
      @include hover-effect(color.scale($background-color, $lightness: $lighten-value));
    } @else {
      @include hover-effect(color.scale($background-color, $lightness: $l-value));
    }
  }
}

@mixin hover-fill($background-color, $t-color) {
  &.hover-fill:hover {
    @include hover-effect($background-color, $t-color);
  }
}

@mixin hover-transparent-darken($t-value: "") {
  .hover-transparent-darken:hover {
    @if $t-value == "" {
      background-color: color.scale(black, $alpha: $transparent-value-dark);
    } @else {
      background-color: color.scale(black, $alpha: $t-value);
    }
  }
}

@mixin hover-transparent-lighten($t-value: "") {
  .hover-transparent-lighten:hover {
    @if $t-value == "" {
      background-color: color.scale(white, $alpha: $transparent-value-light);
    } @else {
      background-color: color.scale(white, $alpha: $t-value);
    }
  }
}

@mixin hover-transparent-colored($background-color, $t-value: "") {
  &.hover-transparent-colored:hover {
    @if $t-value == "" {
      background-color: color.scale($background-color, $alpha: $transparent-value);
    } @else {
      background-color: color.scale($background-color, $alpha: $t-value);
    }
  }
}

@mixin hover-border-darken($border-color, $t-value: "") {
  &.hover-border-darken {
    border-color: color.scale($border-color, $lightness: (-$transparent-value)); // value before lightened
    &:hover {
      @if $t-value == "" {
        border-color: $border-color;
      } @else {
        border-color: color.scale($border-color, $lightness: (-$t-value)); // value after
      }
    }
  }
}

@mixin hover-ghost-darken($background-color, $t-value: "") {
  &.hover-ghost-darken {
    border-color: color.scale($background-color, $alpha: -33%);
    &:hover {
      border-color: $background-color;
      @if $t-value == "" {
        background-color: color.scale($background-color, $alpha: $transparent-value);
      } @else {
        background-color: color.scale($background-color, $alpha: $t-value);
      }
    }
  }
}

@mixin hover-text-lighten($text-color, $t-value: "") {
  &.hover-text-lighten:hover {
    @if $t-value == "" {
      color: color.scale($text-color, $lightness: -$texted-transparent-value);
    } @else {
      color: color.scale($text-color, $lightness: -$t-value);
    }
  }
}

@mixin hover-text-darken($text-color, $t-value: "") {
  &.hover-text-darken:hover {
    @if $t-value == "" {
      color: color.scale($text-color, $lightness: ($texted-transparent-value));
    } @else {
      color: color.scale($text-color, $lightness: ($t-value));
    }
  }
}

@mixin hover-text-color($text-color) {
  &:hover {
    color: $text-color;
  }
}

@mixin hover-text-transparent() {
  .hover-text-transparent{
    @include hover-text-color($background-color);
  }
}

@mixin hover-text-primary() {
  .hover-text-primary {
    @include hover-text-color($primary-color);
  }
}

@mixin hover-text-accent() {
  .hover-text-accent {
    @include hover-text-color($accent-color);
  }
}

@mixin hover-text-danger() {
  .hover-text-danger {
    @include hover-text-color($danger-color);
  }
}

@mixin hover-text-success() {
  .hover-text-success {
    @include hover-text-color($success-color);
  }
}

@mixin hover-text-warning() {
  .hover-text-warning {
    @include hover-text-color($warning-color);
  }
}

/* onClick Effects & Animations */
@mixin ripple($color) {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, $color 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}

@mixin click-ripple-light() {
  .click-ripple-light {
    @include ripple(white);
  }
}

@mixin click-ripple-dark() {
  .click-ripple-dark {
    @include ripple(black);
  }
}

@mixin fade-in($time: $transition-time) {
  @keyframes fade-in{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .fade-in{
    animation: fade-in $time;
  }  
}

@mixin slide($start, $end, $time: $transition-time){
  $animation-name: unique-id() !global;
  @keyframes #{$animation-name}{
    0%{
        transform: $start;
    }
    100%{
        transform: $end;
    }
  }
  animation: $animation-name $time;
}

@mixin slide-fade($start, $end, $time: $transition-time){
  $animation-name: unique-id() !global;
  @keyframes #{$animation-name}{
    0%{
        opacity: 0;
        transform: $start;
    }
    100%{
        opacity: 1;
        transform: $end;
    }
  }
  animation: $animation-name $time;
}

/* active styles*/
@mixin active-text-color($text-color) {
  color: $text-color !important;
  font-weight: bold;
}

@mixin active-text-transparent() {
  .active-text-transparent{
    @include active-text-color($background-color);
  }
}

@mixin active-text-primary() {
  .active-text-primary {
    @include active-text-color($primary-color);
  }
}

@mixin active-text-accent() {
  .active-text-accent {
    @include active-text-color($accent-color);
  }
}

@mixin active-text-danger() {
  .active-text-danger {
    @include active-text-color($danger-color);
  }
}

@mixin active-text-success() {
  .active-text-success {
    @include active-text-color($success-color);
  }
}

@mixin active-text-warning() {
  .active-text-warning {
    @include active-text-color($warning-color);
  }
}

@mixin active-color($color) {
  background-color: color.scale($color, $lightness: 90%);
  color: $color !important;
}

@mixin active-primary() {
  .active-primary {
    @include active-color($primary-color);
  }
}

@mixin active-accent() {
  .active-accent {
    @include active-color($accent-color);
  }
}

@mixin active-danger() {
  .active-danger {
    @include active-color($danger-color);
  }
}

@mixin active-success() {
  .active-success {
    @include active-color($success-color);
  }
}

@mixin active-warning() {
  .active-warning {
    @include active-color($warning-color);
  }
}


/* Allow animations to be called by any element */

/*
* {
  @include hover-darken($primary-color); // button
  @include hover-lighten($primary-color); // button
  
  @include hover-fill($primary-color, $text-color); //ghost button
  @include hover-transparent-colored($primary-color); // ghost button, texted button
  //@include hover-ghost-darken($primary-color); //ghost button - not used

  @include click-ripple-light(); // button, navitem
  @include click-ripple-dark(); // button, navitem
  @include hover-transparent-darken(); // button, navitem
  @include hover-transparent-lighten(); // button, navitem
  
  //@include hover-border-darken($primary-color); // not used
  
  //@include hover-text-lighten($text-color); // not used
  //@include hover-text-darken($text-color); // not used

  //navitem
  @include hover-text-transparent();
  @include hover-text-primary();
  @include hover-text-accent();
  @include hover-text-danger();
  @include hover-text-success();
  @include hover-text-warning();
  @include active-text-transparent();
  @include active-text-primary();
  @include active-text-accent();
  @include active-text-danger();
  @include active-text-success();
  @include active-text-warning();
  @include active-primary();
  @include active-accent();
  @include active-danger();
  @include active-success();
  @include active-warning();
  //

}
*/
