@import './theme';

/* Animations */
$darken-value: 4%;
$lighten-value: 3%;
$transparent-value: 0.94;
/* --- */

/* 
/// @type Color
$success-color: #4caf50 !default;
/// @type Color
$danger-color: #d32f2f !default;
/// @type Color
$warning-color: #f9a825 !default;
*/

$disabled-background-color: transparentize(lightgrey, 0.2) !default;
$disabled-color: rgba(0, 0, 0, 0.26) !default;

$transparent-dark-color: transparentize(black, $transparent-value);

/*
.transparent-dark-color {
  background-color: $transparent-dark-color;
  color: $text-color-light;
}
*/

/*
.primary {
  background-color: $primary-color;
  color: $button-text-color-light;
}

.primary {
  background-color: $primary-color;
  color: $button-text-color-light;
  @include hover-darken($primary-color);
  @include hover-lighten($primary-color);
}

.accent {
  background-color: $accent-color;
  color: $button-text-color-light;
  @include hover-darken($accent-color);
  @include hover-lighten($accent-color);
}
*/

/*
.disabled {
  background-color: $disabled-background-color !important;
  color: $disabled-color !important;
  border-color: $disabled-color !important;
  cursor: default !important;
}
*/

/*
.success {
  background-color: $success-color;
  color: $button-text-color-light;
  @include hover-darken($success-color);
  @include hover-lighten($success-color);
}

.danger {
  background-color: $danger-color;
  color: $button-text-color-light;
  @include hover-darken($danger-color);
  @include hover-lighten($danger-color);
}

.warning {
  background-color: $warning-color;
  color: $button-text-color-light;
  @include hover-darken($warning-color);
  @include hover-lighten($warning-color);
}
*/

/*
.transparent {
  background-color: transparentize(black, 0.75);
  color: white;

  &.hover-darken:hover {
    background-color: transparentize(black, 0.6);
  }
  &.hover-lighten:hover {
    background-color: transparentize(white, 0.8);
  }  
}

.raised {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 
              0px 2px 2px 0px rgba(0,0,0,0.14), 
              0px 1px 5px 0px rgba(0,0,0,0.12);
}
*/