@use "sass:color";

/* Modifiers */
$darken-value: -4%;
$lighten-value: 3%;

/* Colors */
/// @type Color
$success-color: #4caf50 !default;
/// @type Color
$danger-color: #d32f2f !default;
/// @type Color
$warning-color: #f9a825 !default;
/// @type Color
$transparent-dark-color: color.scale(black, $alpha: -95%);
/// @type Color
$disabled-background-color: color.scale(lightgrey, $alpha: -20%) !default;
/// @type Color
$disabled-color: rgba(0, 0, 0, 0.26) !default;
