@use "sass:map";
@use './mixins' as *;
@use './colors' as *;
@use './theme' as *;

$icon-font-size: 1.5rem;
$icon-sizes: (
  "small": 1.25rem,
  "medium": 1.5rem,
  "large": 2.2rem,
) !default;

body, #root{
  min-height: 100vh;
}

// Icons
.material-icons {
  font-size: $icon-font-size;

  &.small {
    font-size: map.get($icon-sizes, small);
  }
  &.medium {
    font-size: map.get($icon-sizes, medium);
  }
  &.large {
    font-size: map.get($icon-sizes, large);
  }
  &.disabled {
    color: $disabled-color;
  }
}

.primary {
  background-color: $primary-color;
  @include hover-darken($primary-color);
  @include hover-lighten($primary-color);
}

.primary-dark {
  background-color: $primary-color-dark;
  @include hover-darken($primary-color-dark);
  @include hover-lighten($primary-color-dark);
}

.primary-light {
  background-color: $primary-color-light;
  @include hover-darken($primary-color-light);
  @include hover-lighten($primary-color-light);
}

.accent {
  background-color: $accent-color;
  @include hover-darken($accent-color);
  @include hover-lighten($accent-color);
}

.accent-dark {
  background-color: $accent-color-dark;
  @include hover-darken($accent-color-dark);
  @include hover-lighten($accent-color-dark);
}

.accent-light {
  background-color: $accent-color-light;
  @include hover-darken($accent-color-light);
  @include hover-lighten($accent-color-light);
}

.success {
  background-color: $success-color;
  color: $text-color-light;
  @include hover-darken($success-color);
  @include hover-lighten($success-color);
}

.warning {
  background-color: $warning-color;
  color: $text-color-light;
  @include hover-darken($warning-color);
  @include hover-lighten($warning-color);
}

.danger {
  background-color: $danger-color;
  color: $text-color-light;
  @include hover-darken($danger-color);
  @include hover-lighten($danger-color);
}

.transparent-dark-color {
  background-color: $transparent-dark-color;
}

.disabled {
  background-color: $disabled-background-color !important;
  color: $disabled-color !important;
  border-color: $disabled-color !important;
  cursor: default !important;
}

.transparent {
  background-color: transparentize(black, 0.90);
  color: white;
  &.hover-darken:hover {
    background-color: transparentize(black, 0.6);
  }
  &.hover-lighten:hover {
    background-color: transparentize(white, 0.8);
  }
}

.raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
