@use "sass:color";
@use "sass:string";
@use './colors' as *;

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// Font Variables
$roboto: "Roboto", sans-serif !default;
// Icons
// https://google.github.io/material-design-icons/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");

$font-family: $roboto;

/* Theme Color Palette */
$background-color: white !default;//#e5e5e5 !default;
$primary-color: #01bfa5 !default;
$accent-color: #fd5523 !default;
$text-color: black !default;
$text-color-light: white !default;
// Background color: base, dark, light
// Primary: base, dark, light
$primary-color-dark: color.scale($primary-color, $lightness: $darken-value) !default;
$primary-color-light: color.scale($primary-color, $lightness: $lighten-value) !default;
// Accent: base, dark, light
$accent-color-dark: color.scale($accent-color, $lightness: $darken-value) !default;
$accent-color-light: color.scale($accent-color, $lightness: $lighten-value) !default;

/* Animation */
$transition-time: 0.5s;

/* Button */
$rounded-radius: 0.25rem !default;
$button-background-color: #354856 !default;
$button-text-color: $text-color-light !default;
$button-font-family: inherit !default;
$button-font-weight: null !default;
/// @type Number
$button-padding: 0.6em 1.2em !default;
/// @type Number
$button-radius: $rounded-radius !default;
$button-sizes: (
  "small": 0.8rem,
  "medium": 1rem,
  "large": 1.1rem,
) !default;
$transparent-value: -80% !default;
$transparent-value-dark: -90% !default;
$transparent-value-light: $transparent-value-dark !default;
//$darken-value: -4% !default;//-10%;
//$lighten-value: 3% !default;

/* Card */
$card-color: white !default;
$card-height: 350px !default;
$card-width: 350px !default;
$card-border-radius: 4px !default;

$card-header-height: 64px !default;
$card-media-height: 12rem !default;
$card-footer-height: 46px !default;
//for media on side
$card-media-width: 10rem !default;

/* Grid */
$col-gutter-size: 0rem !default;
$row-gutter-size: 0rem !default;

/* Input */
$inactive-color: gray !default;
$text-color: black !default;
$highlight-color: $primary-color !default;
$width: 100% !default;

$input-height: 2em !default;
$label-input-height: 3em !default;
$border-color: black !default;

$border-radius: 4px !default;
$filled-color: $border-color !default;
$shrink-label-font-size: 12px !default;
$input-font-size: 16px !default;
$label-font-size: $input-font-size !default;
$hover-color: rgba($border-color, 0.9) !default;
$border-highlight-thickness: 3px !default;
$border-thickness: 1px !default;

$input-transition-time: $transition-time !default;

//changing animation time based on height 
//calc(#{string.slice(#{$label-input-height},1,-3)} * 100ms) !default;

/* Layout */
$header-height: 64px !default;
$footer-height: 64px !default;
$lside-width: 272px !default;
$rside-width: $lside-width !default;

/* Modal */
$modal-top: 50% !default;
$modal-left: 50% !default;
$modal-transform: translate(-50%, -50%) !default;
$modal-width: 500px !default;
$modal-height: auto !default;
$modal-background: white !default;
$modal-border: 1px solid #ddd !default;
$modal-radius: 0 !default;
$modal-section-padding: 15px !default;
$modal-button-color: lightgrey !default;
$modal-button-hover: color.scale($modal-button-color, $lightness: $transparent-value-dark / 3) !default;
$modal-cover-color: color.scale(black, $alpha: $transparent-value) !default;

/* Navbar */
$navbar-background-color: $primary-color !default;
$navbar-text-color: $text-color-light !default;
$navbar-element-padding: 0rem 1rem !default;
$navbar-padding: 1rem 1rem !default;
$navbar-height: 64px !default;
$navbar-text-color: $text-color-light !default;
$navbar-background-color: $primary-color !default;

/* Sidebar */
$sidebar-element-height: 2.5rem !default;
$sidebar-element-padding: 0rem 0rem 0rem 2rem !default;
$sidebar-background-color: $background-color !default; //rgb(224, 224, 224);
$sidebar-text-color: $text-color !default;
$sidebar-font-size: 14px !default;
$sidebar-letter-spacing: 0.5px !default;
$sidebar-transparent: $transparent-dark-color !default;