@import './theme';
@import './mixins';

$disabled-background-color: transparentize(lightgrey, 0.2) !default;
$disabled-color: rgba(0, 0, 0, 0.26) !default;

$transparent-dark-color: transparentize(black, $transparent-value);

$rounded-radius: 0.25rem;

$icon-font-size: 1.5rem;
$icon-sizes: ("small": 1.25rem, "medium": 1.5rem, "large": 2.2rem) !default;

// Icons
.material-icons {
  font-size: $icon-font-size;
  
  &.small{
    font-size: map-get($icon-sizes, small);
  }
  &.medium {
    font-size: map-get($icon-sizes, medium);
  }
  &.large {
   font-size: map-get($icon-sizes, large);
  }
  &.disabled {
    color: $disabled-color;
  }
}

/*
.transparent-dark-color {
  background-color: $transparent-dark-color;
  color: $text-color-light;
}
*/

/*
.primary {
  background-color: $primary-color;
  color: $button-text-color-light;
}
*/