@use "sass:map";
@use './colors';
@forward './mixins';

$rounded-radius: 0.25rem;

$icon-font-size: 1.5rem;
$icon-sizes: ("small": 1.25rem, "medium": 1.5rem, "large": 2.2rem) !default;

// Icons
.material-icons {
  font-size: $icon-font-size;
  
  &.small{
    font-size: map.get($icon-sizes, small);
  }
  &.medium {
    font-size: map.get($icon-sizes, medium);
  }
  &.large {
   font-size: map.get($icon-sizes, large);
  }
  &.disabled {
    color: colors.$disabled-color;
  }
}
