/* Hover Effects */
$darken-value: 13%;
$lighten-value: $darken-value;
$transparent-value: 0.94;

@mixin hover-effect($b-color, $t-color: "") {
  background-color: $b-color;
  color: unquote($t-color);
}

@mixin hover-darken($b-color, $d-value: "") {
  @if $d-value == "" {
    @include hover-effect(darken($b-color, $darken-value));
  } @else {
    @include hover-effect(darken($b-color, $d-value));
  }
}

@mixin hover-lighten($b-color, $l-value: "") {
  @if $l-value == "" {
    @include hover-effect(lighten($b-color, $lighten-value));
  } @else {
    @include hover-effect(lighten($b-color, $l-value));
  }
}

@mixin hover-fill($b-color, $t-color) {
  @include hover-effect($b-color, $t-color);
}

@mixin hover-darken-transparent($b-color, $t-value: "") {
  @if $t-value == "" {
    background-color: transparentize($b-color, $transparent-value);
  } @else {
    @include hover-effect(darken($b-color, $t-value));
  }
}

/* onClick Effects & Animations */
/*ripple dark ripple light*/