@use "sass:color";
@use '../../global/wolfie' as *;

$sidebar-element-height: 2rem;
$sidebar-element-padding: 0rem 0rem 0rem 1rem;
$sidebar-background-color: $background-color; //rgb(224, 224, 224);
$text-color: black;
$font-size: 14px;
$letter-spacing: 0px;
$sidebar-transparent: $transparent-dark-color;

.wsidebar {
  height: 100%; // ??
  color: $text-color;
  background-color: $sidebar-background-color;
  display:table-row;

  &.primary {
    background-color: $primary-color;
  }

  &.accent {
    background-color: $accent-color;
  }

  &.colored {
    background-color: $sidebar-background-color;
    color: $navbar-text-color;
  }

  &.transparent {
    background-color: $sidebar-transparent;
  }

  &.clear {
    background-color: $background-color;
    $color: $text-color;
  }

  a {
    text-decoration: none;
    height: $sidebar-element-height;
    display: inline-block;
    width: inherit;
    //text-align: center;
    padding: $sidebar-element-padding;
    display: table-cell;
    vertical-align: middle;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
  }

  a,
  a:visited {
    color: inherit;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  ul,
  ol,
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    width: 100%;
  }
  
  /*
  .left {
  
  }
  
  .right {
    
  }
  */

}
