@use "sass:color";
@use '../../global/wolfie' as *;

$sidebar-element-height: 2.5rem;
$sidebar-element-padding: 0rem 0rem 0rem 2rem;
$sidebar-background-color: $background-color; //rgb(224, 224, 224);
$text-color: black;
$font-size: 14px;
$letter-spacing: 0.5px;
$sidebar-transparent: $transparent-dark-color;

.wsidebar {
  color: $text-color;
  background-color: $sidebar-background-color;
  //width: 100%;
  min-height: 100vh; // change for layouts
  height: 100vh; // change for layouts
  overflow-y: auto;

  &.primary {
    background-color: $primary-color;
  }

  &.accent {
    background-color: $accent-color;
  }

  &.warning {
    background-color: $warning-color;
  }
  &.danger {
    background-color: $danger-color;
  }
  &.success {
    background-color: $success-color;
  }

  &.colored {
    background-color: $sidebar-background-color;
    color: $navbar-text-color;
  }

  &.transparent {
    background-color: $sidebar-transparent;
  }

  &.clear {
    background-color: $background-color;
    color: $text-color;
    border-right: 1px solid color.scale($background-color, $lightness: -10%);;
  }

  a {
    text-decoration: none;
    line-height: $sidebar-element-height;
    display: inline-block;
    padding: $sidebar-element-padding;
    //display: table-cell; 
    //vertical-align: middle;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
  }

  a,
  a:visited {
    color: inherit;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  ul,
  ol,
  li {
    //display: inline-block;
    //list-style-type: none;
    margin: 0;
  }
  
  /*
  .left {
  
  }
  
  .right {
    
  }
  */

}

.active-text {
  color: $primary-color !important;
  font-weight: bold;
}

.active-color {
  background-color: color.scale($primary-color, $lightness: 90%);
  color: $primary-color !important;
}