@use "sass:color";
@use '../../global/wolfie' as *;

.wsidebar {
  color: $sidebar-text-color;
  background-color: $sidebar-background-color;
  max-height: 100vh;
  height: 100%;
  position: sticky;
  top: 0;
  overflow-y: auto;

  &.primary {
    background-color: $primary-color;
  }

  &.accent {
    background-color: $accent-color;
  }

  &.warning {
    background-color: $warning-color;
  }
  &.danger {
    background-color: $danger-color;
  }
  &.success {
    background-color: $success-color;
  }

  &.colored {
    background-color: $sidebar-background-color;
    color: $navbar-text-color;
  }

  &.transparent {
    background-color: $sidebar-transparent;
  }

  &.clear {
    background-color: $background-color;
    color: $text-color;
    border-right: 1px solid color.scale($background-color, $lightness: -10%);
  }

  a {
    text-decoration: none;
    line-height: $sidebar-element-height;
    display: inline-block;
    padding: $sidebar-element-padding;
    font-size: $sidebar-font-size;
    letter-spacing: $sidebar-letter-spacing;
    width: 100%;
  }

  a,
  a:visited {
    color: inherit;
  }

  ul,
  ol {
    padding: 0;
  }

  ul,
  ol,
  li {
    margin: 0;
  }
}
