@use '../../global/wolfie' as *;
@use 'sass:color';

.wmodal {
    z-index: 2;
    position: fixed;

    left: $modal-left;
    top: $modal-top;
    transform: $modal-transform;
    min-width: fit-content;
    width: $modal-width; 
    height: $modal-height;
    background-color: $modal-background;
    border: $modal-border;
    border-radius: $modal-radius;
    opacity: 1;
    display: none;
    &.visible{
        display: grid;
        grid-template-areas: 'header' 'main' 'footer';
        grid-template-rows: auto;
    }
    
}

//animations
@include fade-in;
.slide-fade-top{
    @include slide-fade(translate(-50%, -100%), translate(-50%, -50%));
}
.slide-fade-bottom{
    @include slide-fade(translate(-50%, 0%), translate(-50%, -50%));
}
.slide-fade-left{
    @include slide-fade(translate(-100%, -50%), translate(-50%, -50%));
}
.slide-fade-right{
    @include slide-fade(translate(0%, -50%), translate(-50%, -50%));
}


.wMheader {
    grid-area: header;
    margin: 0;
    border-bottom: $modal-border;
    padding: $modal-section-padding;
}

.wMmain {
    grid-area: main;
    padding: $modal-section-padding;
}

.wMfooter{
    grid-area: footer;
    padding: $modal-section-padding;
    height: fit-content;
    border-top: $modal-border;
    &.wmf-right{
        text-align:right;
    }
    &.wmf-left{
        text-align:left;
    }
    &.wmf-center{
        text-align:center;
    }
}


.wMoverlay {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.cover{
        background-color: $modal-cover-color; 
    }

    display: none;
    &.visible{
        display: initial;
    }
   
}

.modal-header-button{
    float: right;
    padding: 0 !important;
    color: $modal-button-color;
    :hover{
        color: $modal-button-hover;
    }
}
