@use '../../global/wolfie' as *;

.winput {
  font-family: inherit;
  position: relative;
  width: fit-content;

  input {
    font-size: $input-font-size;
    width: $width;
    color: $text-color;
  }

  label {
    color: $inactive-color;
    font-size: $label-font-size;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
  }

  &.lined {
    .input-label {
      padding: 18px 12px 0 0;
      height: $label-input-height;
    }

    input {
      background: none;
      padding: 8px 5px 6px 0px;
      display: block;
      border: none;
      height: $input-height;

      border-bottom: $border-thickness solid $inactive-color;
      -webkit-transition: $input-transition-time ease;
      -moz-transition: $input-transition-time ease;
      -o-transition: $input-transition-time ease;
      -ms-transition: $input-transition-time ease;
      transition: $input-transition-time ease;

      &.hover-solid {
        &:hover {
          box-shadow: inset 0 -#{$border-thickness} 0 $hover-color;
          border-bottom: $border-thickness solid $hover-color;
        }
      }

      &:focus {
        outline: none;

        // bar animation
        ~ .bar-left-to-right:before {
          width: $width;
        }
        ~ .bar-center-out:before,
        ~ .bar-center-out:after {
          width: 50%;
        }
        ~ .bar-solid {
          border-bottom: calc(#{$border-thickness} + 1px) solid;
          border-color: $highlight-color;
          transform: scaleX(1);
        }
      }

      // label
      ~ .label-fixed,
      ~ .label-fixed-shrink {
        top: -1rem;
      }

      ~ .label-fixed-shrink {
        font-size: $shrink-label-font-size;
      }

      // label animation
      &:focus ~ .label-shrink,
      &:focus ~ .label-up,
      &:focus ~ .label-fixed,
      &:focus ~ .label-fixed-shrink {
        color: $highlight-color;
      }

      ~ .label-shrink,
      ~ .label-up {
        transition: $input-transition-time ease all; // label return animation
        left: 0px;
        top: calc(#{$label-input-height/2} - 9px);
      }

      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink,
      &:focus ~ .label-up,
      &:valid ~ .label-up {
        // active state
        top: -1.15em;
      }

      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink {
        font-size: $shrink-label-font-size;
      }
      /*&[type="number"] ~ label {
      }*/
    }
  }

  &.filled {
    .input-label {
      padding: 18px 12px 0 12px;
      height: $label-input-height;
    }

    input {
      background: rgba($filled-color, 0.05);
      color: $text-color;
      padding: 0 12px;
      border: none;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      box-shadow: inset 0 -#{$border-thickness} 0 rgba($filled-color, 0.3);
      height: $input-height;
      transition: all $input-transition-time ease; //.15
      -webkit-appearance: none;
      appearance: none;

      &.hover-solid {
        &:hover {
          background: rgba($filled-color, 0.1); // needed? use with animations // 0.04 = lighter
          box-shadow: inset 0 -#{$border-thickness} 0 rgba($filled-color, 0.9); //gets darker //.5
        }
      }

      &:focus {
        outline: none;

        ~ .bar-shade {
          box-shadow: inset 0 -2px 0 $highlight-color; // for instant bar
          background: rgba($filled-color, 0.05); //crate dark/shade color in the back
          transform: scaleX(1);
          transition: all 0.1s ease;
        }
        ~ .bar-left-to-right:before {
          // left to right bar animation
          width: $width;
        }
        ~ .bar-center-out:before,
        ~ .bar-center-out:after {
          width: 50%;
        }
        ~ .bar-solid {
          border-bottom: 2px solid;
          border-color: $highlight-color;
          transform: scaleX(1);
        }
      }

      // label
      ~ .label-fixed,
      ~ .label-fixed-shrink,
      ~ .label-shrink,
      ~ .label-up {
        left: 12px;
      }

      ~ .label-fixed {
        top: 0.45em;
      }

      ~ .label-fixed-shrink {
        top: 0.8em;
        font-size: $shrink-label-font-size;
      }

      // label animation
      &:focus ~ .label-shrink,
      &:focus ~ .label-up,
      &:focus ~ .label-fixed,
      &:focus ~ .label-fixed-shrink {
        color: $highlight-color;
      }

      ~ .label-shrink,
      ~ .label-up {
        top: calc(#{$label-input-height/2} - 9px);
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all $input-transition-time ease; //0.3s
      }

      &:focus ~ .label-up,
      &:valid ~ .label-up {
        // active state
        top: 0.45em;
      }

      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink {
        top: 0.8em;
        font-size: $shrink-label-font-size;
      }
    }
  }

  &.outlined {
    .input-label {
      padding: 0 12px;
      height: $label-input-height;
    }

    input {
      background: none;
      color: $text-color;
      padding: 0 12px;
      border: $border-thickness solid $inactive-color;
      border-radius: $border-radius;
      height: $input-height;
      $time: 0.05s;
      transition: all $time ease; //.15
      -webkit-appearance: none;
      appearance: none;

      &.hover-solid {
        &:hover:not(:focus) {
          border-color: $border-color;
        }
      }

      &:focus {
        outline: none;

        ~ .bar-solid {
          border-radius: #{$border-radius};
          box-shadow: 0 0 0 calc(#{$border-thickness} + 1px) $highlight-color inset;
          transform: scaleX(1);
        }
        ~ .bar-border-highlight {
          border-radius: #{$border-radius};
          box-shadow: 0 0 0 $border-thickness $highlight-color inset, 0 0 0 $border-highlight-thickness rgb($highlight-color, 0.3);
          transform: scaleX(1);
        }
      }

      // label
      ~ .label-fixed-shrink,
      ~ .label-fixed,
      ~ .label-shrink,
      ~ .label-up {
        left: 12px;
        top: calc(#{$label-input-height/2} - 9px);
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all $input-transition-time ease; //0.3s
      }

      // label animation
      &:focus ~ .label-fixed-shrink,
      &:valid ~ .label-fixed-shrink,
      &:focus ~ .label-fixed,
      &:valid ~ .label-fixed,
      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink,
      &:focus ~ .label-up,
      &:valid ~ .label-up {
        ~ legend {
          max-width: calc(#{$width} - 16px);
          padding-left: 0.3rem;
          padding-right: 0.3rem;
          transition: all $input-transition-time ease;
        }
      }

      &:focus ~ .label-fixed,
      &:valid ~ .label-fixed,
      &:focus ~ .label-up,
      &:valid ~ .label-up {
        top: 0.9em;
        ~ legend {
          font-size: $label-font-size;
        }
      }

      &:focus ~ .label-fixed-shrink,
      &:valid ~ .label-fixed-shrink,
      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink {
        top: 0.9rem;
        ~ legend {
          font-size: $label-font-size * 0.75;
        }
      }

      &:focus ~ .label-fixed-shrink,
      &:focus ~ .label-fixed,
      &:focus ~ .label-shrink,
      &:focus ~ .label-up {
        color: $highlight-color;
      }

      &:focus ~ .label-up,
      &:valid ~ .label-up,
      &:focus ~ .label-fixed,
      &:valid ~ .label-fixed {
        // active state
        top: -0.45em;
      }

      &:focus ~ .label-shrink,
      &:valid ~ .label-shrink,
      &:focus ~ .label-fixed-shrink,
      &:valid ~ .label-fixed-shrink {
        top: -0.45em;
        font-size: $shrink-label-font-size;
      }
    }

    > fieldset {
      position: relative;
      width: $width;
      margin: 0;
      border: $border-thickness solid $inactive-color;
      border-radius: $border-radius;
      padding: 0;
      background: none;

      &.hover-solid {
        &:hover {
          border-color: $hover-color;
        }
      }

      &.bar-f-solid {
        &:focus-within {
          border: 1px solid $highlight-color;
        }
      }

      > input {
        border: none;
      }
      > legend {
        max-width: 0.01px;
        max-height: 0.01px;
        padding: 0;
        margin-left: 8px;
        text-align: left;
        visibility: hidden;
      }
    }
  }
}

.pill {
  border-radius: 2rem !important;

  &:focus ~ .bar-solid {
    border-radius: 2rem !important;
  }
}

.shadow {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
  //box-shadow: 0 0 11px rgba($inactive-color,.2);
  box-shadow: 0 0 11px rgba($inactive-color, 0.4);
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hover-shadow {
  //$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  $shadow: 0 0 11px rgba($inactive-color, 0.4);
  &:hover:not(:focus) {
    box-shadow: $shadow !important;
    border-color: $inactive-color !important; // OVERWRITE OTHER THING - BAD
  }
  &:focus {
    box-shadow: $shadow !important;
    ~ label {
      color: $inactive-color !important; // OVERWRITE OTHER THING - BAD
    }
  }
}
*,
:before,
:after {
  //for active line color animation
  box-sizing: border-box;
}

.bar-left-to-right {
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px; // 0
    position: absolute;
    background: $highlight-color;
    transition: $input-transition-time ease all;
    left: 0%;
  }
}

.bar-center-out {
  position: relative;
  display: block;
  width: $width;

  &:before,
  &:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px; //1px
    position: absolute;
    background: $highlight-color;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

.bar-shade {
  position: absolute;
  top: 0; //color
  left: 0; //color
  width: 100%; //color
  height: 100%; //color
  background: rgba($filled-color, 0.05); // darken
  transform: scaleX(0);
  transform-origin: left;
}
.bar-solid,
.bar-border-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
}
