.WButtonPage {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

tr {
  border: solid #7f9199 1px;
  border-left: none;
  border-right: none;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 10px;
}
td:first-child {
  border-right: solid #7f9199 1px;
}

.red-green {
  background-color: red;
  color: palegreen;
}
