@use "sass:color";
@use '../../global/wolfie' as *;


.wnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  padding: $navbar-padding;
  //margin-bottom: 10px;
  color: $navbar-text-color;
  background-color: rgb(224, 224, 224);

  &.primary {
    background-color: $primary-color;
  }

  &.accent {
    background-color: $accent-color;
  }

  &.warning {
    background-color: $warning-color;
  }
  &.danger {
    background-color: $danger-color;
  }
  &.success {
    background-color: $success-color;
  }

  &.colored {
    background-color: $navbar-background-color;
    //color: $navbar-text-color;
  }

  &.transparent {
    background-color: $transparent-dark-color;
    //color: $navbar-text-color;
  }

  nav * {
    padding: $navbar-element-padding;
  }
  
  li {
    float: left;
    padding: 0;
  }
  
  a {
    //NavLink
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: $navbar-element-padding;
  }
  
  a,
  a:visited {
    color: inherit;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  ul,
  ol,
  li {
    list-style-type: none;
    margin: 0;
    //padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: inherit;
  }
  
  li {
    padding-top: 0;
    padding-bottom: 0;
  }

}
