@use "sass:color";
@use '../../global/wolfie' as *;

$navbar-background-color: $primary-color;
$navbar-element-padding: 0rem 1rem;

.wnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 4rem;
  background-color: $navbar-background-color;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 10px;

  &.primary {
    background-color: $primary-color;
    color: $button-text-color-light;
  }
  
  &.accent {
    background-color: $accent-color;
    color: $button-text-color-light;
  }

  &.transparent-dark-color {
    background-color: $transparent-dark-color;
    color: $text-color-light;
  }
}

nav * {
  padding: $navbar-element-padding;
}

li {
  float:left;
  //padding: $navbar-element-padding !important;
}

a {
  text-decoration: none;
  height:inherit;
  display:flex;
  align-items: center;
  padding: 0;
  //padding-top:0;
  //padding-bottom:0;
  //padding: $navbar-element-padding;
}

a, a:visited {
  color: inherit;
}

ul, ol {
  padding: 0;
}

ul, ol, li{
  list-style-type: none;
  margin: 0;
  //padding: 0;
  overflow: hidden;
  display:flex;
  align-items: center;
  height:inherit;
}

li {
  padding-top: 0;
  padding-bottom: 0;
}

.show-current-dark {
  background-color: color.scale(black, $alpha: $transparent-value);
}

.left {

}

.right {
  
}
