@import '../../variables';

$navbar-background-color: $primary-color;
$navbar-element-padding: 0.7rem 1rem;

.wnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //align-content: stretch;

  position: sticky;
  height: 4rem;
  background-color: $navbar-background-color;
  margin-bottom: 10px;
}

nav * {
  padding: $navbar-element-padding;
}

a {
  text-decoration: none;
  height:inherit;
  display:flex;
  align-items: center;
  padding-top:0;
  padding-bottom:0;
}

a, a:visited {
  color: inherit;
}

ul, ol, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display:flex;
  align-items: center;
  height:inherit;
}

li {
  float:left;
  padding-left: 0;
  padding-right: 0;
}

.left {

}

.right {

}
