@use '../../global/wolfie' as *;

.wcard {
    background-color: $card-color;
    width: $card-width;
    height: $card-height;
    border-radius: $card-border-radius;
}

.header-media-content-footer-layout {
    display: grid;
    grid-template-areas: 'header' 'media' 'content' 'footer';
    grid-template-rows: $card-header-height $card-media-height calc(100% - #{$card-header-height} - #{$card-media-height} - #{$card-footer-height}) $card-footer-height;
}

.header-content-footer-layout {
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-rows: $card-header-height calc(100% - #{$card-header-height} - #{$card-footer-height}) $card-footer-height;
}

.header-content-layout {
    display: grid;
    grid-template-areas: 'header' 'content';
    grid-template-rows: $card-header-height calc(100% - #{$card-header-height});
}

.header-media-content-layout {
    display: grid;
    grid-template-areas: 'header' 'media' 'content';
    grid-template-rows: $card-header-height $card-media-height calc(100% - #{$card-header-height} - #{$card-media-height});
}

.media-content-layout {
    display: grid;
    grid-template-areas: 'media' 'content';
    grid-template-rows: $card-media-height calc(100% - #{$card-media-height});
}

.media-content-footer-layout {
    display: grid;
    grid-template-areas: 'media' 'content' 'footer';
    grid-template-rows: $card-media-height calc(100% - #{$card-media-height} - #{$card-footer-height}) $card-footer-height;
}

.content-footer-layout {
    display: grid;
    grid-template-areas: 'content' 'footer';
    grid-template-rows: calc(100% - #{$card-footer-height}) $card-footer-height;
}

// side media layouts
.header-content-footer-media-layout {
    display: grid;
    grid-template-areas: 'header media' 'content media' 'footer media';
    grid-template-rows: $card-header-height calc(100% - #{$card-header-height} - #{$card-footer-height}) $card-footer-height;
    grid-template-columns: calc(100% - #{$card-media-width}) $card-media-width;
}

.header-content-media-layout {
    display: grid;
    grid-template-areas: 'header media' 'content media';
    grid-template-rows: $card-header-height calc(100% - #{$card-header-height});
    grid-template-columns: calc(100% - #{$card-media-width}) $card-media-width;
}

.content-media-layout {
    display: grid;
    grid-template-areas: 'content media';
    grid-template-columns: calc(100% - #{$card-media-width}) $card-media-width;
}

.content-footer-media-layout {
    display: grid;
    grid-template-areas: 'content media' 'footer media';
    grid-template-rows: calc(100% - #{$card-footer-height}) $card-footer-height;
    grid-template-columns: calc(100% - #{$card-media-width}) $card-media-width;
}


.wCheader {
    grid-area: header;
}

.wCcontent {
    grid-area: content;
}

.wCmedia {
    grid-area: media;
}

.wCfooter {
    grid-area: footer;
}
