@use '../../global/wolfie' as *;

$header-height: 64px;
$footer-height: 64px;
$sidebar-width: 272px;

.wlayout{
    min-height: 100vh;
}

.header-layout {
    display: grid;
    grid-template-areas: 'header' 'main';
    grid-template-rows: $header-height calc(100% - #{$header-height});
}

.header-sidebar-layout {
    display: grid;
    grid-template-areas: 'header header' 'sidebar main';
    grid-template-rows: $header-height calc(100% - #{$header-height});
    grid-template-columns: $sidebar-width calc(100% - #{$sidebar-width});
}

.header-sidebar-footer-layout {
    display: grid;
    grid-template-areas: 'header header' 'sidebar main' 'footer footer';
    grid-template-rows: $header-height calc(100vh - (#{$header-height}+#{$footer-height})) $footer-height;
    grid-template-columns: $sidebar-width calc(100% - #{$sidebar-width});
}

.header-footer-layout {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: $header-height calc(100vh - (#{$header-height}+#{$footer-height})) $footer-height;
}

.sidebar-layout {
    display: grid;
    grid-template-areas: 'sidebar main';
    grid-template-columns: $sidebar-width calc(100% - #{$sidebar-width});
}

.sidebar-footer-layout {
    display: grid;
    grid-template-areas: 'sidebar main' 'footer footer';
    grid-template-rows: calc(100vh - #{$footer-height}) $footer-height;
    grid-template-columns: $sidebar-width calc(100% - #{$sidebar-width});
}

.footer-layout {
    display: grid;
    grid-template-areas: 'main' 'footer';
    grid-template-rows: calc(100vh - #{$footer-height}) $footer-height;
}

.header-l {
    grid-area: header;
}

.main-l {
    grid-area: main;
}

.sidebar-l {
    grid-area: sidebar;
}

.footer-l {
    grid-area: footer;
}
