@use '../../global/wolfie' as *;

.wlayout{
    min-height: 100vh;
    height: 100%;
    .wlayout{
        min-height: 100%;
    }
}

.header-layout {
    display: grid;
    grid-template-areas: 'header' 'main';
    grid-template-rows: $header-height calc(100% - #{$header-height});
}

.header-lside-layout {
    display: grid;
    grid-template-areas: 'header header' 'lside main';
    grid-template-rows: $header-height calc(100% - #{$header-height});
    grid-template-columns: $lside-width calc(100% - #{$lside-width});
}

//right-side
.header-rside-layout {
    display: grid;
    grid-template-areas: 'header header' 'main rside';
    grid-template-rows: $header-height calc(100% - #{$header-height});
    grid-template-columns: calc(100% - #{$rside-width}) $rside-width;
}

//both
.header-lside-rside-layout {
    display: grid;
    grid-template-areas: 'header header header' 'lside main rside';
    grid-template-rows: $header-height calc(100% - #{$header-height});
    grid-template-columns: $lside-width calc(100% - #{$lside-width} - #{$rside-width}) $rside-width;
}

.header-lside-footer-layout {
    display: grid;
    grid-template-areas: 'header header' 'lside main' 'footer footer';
    grid-template-rows: $header-height calc(100% - #{$header-height} - #{$footer-height}) $footer-height;
    grid-template-columns: $lside-width calc(100% - #{$lside-width});
}

//right-side
.header-rside-footer-layout {
    display: grid;
    grid-template-areas: 'header header' 'main rside' 'footer footer';
    grid-template-rows: $header-height calc(100% - #{$header-height} - #{$footer-height}) $footer-height;
    grid-template-columns: calc(100% - #{$rside-width}) $rside-width;
}

//both
.header-lside-rside-footer-layout {
    display: grid;
    grid-template-areas: 'header header header' 'lside main rside' 'footer footer footer';
    grid-template-rows: $header-height calc(100% - #{$header-height} - #{$footer-height}) $footer-height;
    grid-template-columns: $lside-width calc(100% - #{$lside-width} - #{$rside-width}) $rside-width;
}

.header-footer-layout {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: $header-height calc(100% - #{$header-height} - #{$footer-height}) $footer-height;
}

.lside-layout {
    display: grid;
    grid-template-areas: 'lside main';
    grid-template-columns: $lside-width calc(100% - #{$lside-width});
}

//right-side
.rside-layout {
    display: grid;
    grid-template-areas: 'main rside';
    grid-template-columns: calc(100% - #{$rside-width}) $rside-width;
}

//both
.lside-rside-layout {
    display: grid;
    grid-template-areas: 'lside main rside';
    grid-template-columns: $lside-width calc(100% - #{$lside-width} - #{$rside-width}) $rside-width;
}

.lside-footer-layout {
    display: grid;
    grid-template-areas: 'lside main' 'footer footer';
    grid-template-rows: calc(100% - #{$footer-height}) $footer-height;
    grid-template-columns: $lside-width calc(100% - #{$lside-width});
}

//right-side
.rside-footer-layout {
    display: grid;
    grid-template-areas: 'main rside' 'footer footer';
    grid-template-rows: calc(100% - #{$footer-height}) $footer-height;
    grid-template-columns: calc(100% - #{$rside-width}) $rside-width;
}

//both
.lside-rside-footer-layout {
    display: grid;
    grid-template-areas: 'lside main rside' 'footer footer footer';
    grid-template-rows: calc(100% - #{$footer-height}) $footer-height;
    grid-template-columns: $lside-width calc(100% - #{$lside-width} - #{$rside-width}) $rside-width;
}

.footer-layout {
    display: grid;
    grid-template-areas: 'main' 'footer';
    grid-template-rows: calc(100% - #{$footer-height}) $footer-height;
}

.wLheader {
    grid-area: header;
}

.wLmain {
    grid-area: main;
}

.wLside-l {
    grid-area: lside;
}

.wLside-r {
    grid-area: rside;
}

.wLfooter {
    grid-area: footer;
}
