// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Font Variables
$roboto: 'Roboto', sans-serif !default;   
// Icons
// https://google.github.io/material-design-icons/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-family: $roboto;
$background-color: #e5e5e5 !default;
$text-color: black !default;
$primary-color: #01bfa5 !default;
$accent-color: #fd5523 !default;

$button-background-color: green !default;
// $button-background-color: #354856 !default;
$button-text-color: lightgrey !default;
$button-text-color-light: white !default;
