@import './theme';
@import './animations/animations.scss';

// Icons
.material-icons {
  &.small{
    font-size: 18px;
  }
  &.medium {
    font-size: 24px;
  }
  &.large {
   font-size: 36px; 
  }
}