@import './theme';
@import './animations/animations.scss';

$disabled-background-color: transparentize(lightgrey, 0.2) !default;
$disabled-color: gray !default;

// Icons
.material-icons {
  font-size: 1.5rem;
  
  &.small{
    font-size: 1.25rem;
  }
  &.medium {
    font-size: 1.5rem;
  }
  &.large {
   font-size: 2.2rem;
  }
  &.disabled {
    color: $disabled-color;
  }
}