//@use './global/theme' with (
//  $primary-color: blue
//);

@use './global/wolfie';

@use './global/components';

body {
  font-family: wolfie.$font-family;
  background: wolfie.$background-color;
  color: wolfie.$text-color;
}
