@use "sass:color";
@use '../../global/wolfie' as *;

.navitem {
}

//hover
@include hover-transparent-darken();
@include hover-transparent-lighten();
@include hover-text-transparent();
@include hover-text-primary();
@include hover-text-accent();
@include hover-text-danger();
@include hover-text-success();
@include hover-text-warning();

//click
@include click-ripple-light;
@include click-ripple-dark;

//active
@include active-text-transparent();
@include active-text-primary();
@include active-text-accent();
@include active-text-danger();
@include active-text-success();
@include active-text-warning();
@include active-primary();
@include active-accent();
@include active-danger();
@include active-success();
@include active-warning();